* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontm: Proxima Nova;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* color: #ffff; */

  font-family: Proxima Nova;
}

.headline > img {
  opacity: 0.2;

  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat, #C4C4C4; */
}
.headline {
  position: relative;
  width: 1440px;
  height: 720px;

  background: linear-gradient(119deg, #ed4690 -2.11%, #52c 63.58%);
}

.evtxt {
  color: #fff;
  font-family: Proxima Nova;
  font-size: 28.5px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.ick {
  color: #fff;
  font-family: Proxima Nova;
  font-size: 28.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navb {
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.navb > p {
  cursor: pointer;
}
.login {
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  width: 101px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 1.5px solid #fff;
}

.people {
  width: 636.836px;
  height: 476px;
  flex-shrink: 0;
}

.righttxt,
.righttxt2 {
  width: 443px;
}
.righttxt > h3 {
  color: #fff;
  font-family: Proxima Nova;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.righttxt2 {
  color: #fff;
  font-family: Proxima Nova;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
}
.banerbtn > p {
  width: 182px;
  cursor: pointer;
  height: 60px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1.5px solid #fff;
  color: #fff;
  box-shadow: 0px 10px 50px 0px rgba(61, 55, 241, 0.25);
}
.violet {
  border: none !important;
  background-color: #f5167e;
}

.baner_and_content {
  position: relative;
}
.overbaner {
  position: absolute;
  top: 5%;
}

.ellipse_cover {
  color: #fff;
  width: 1086px;
  height: 140px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #242565;
  box-shadow: 0px 10px 50px 0px rgba(61, 55, 241, 0.25);
}

.el_colu > p {
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.el_colu > h3,
.dateline {
  color: #fff;
  font-family: DM Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.bline {
  width: 290px;
  border-bottom: 1px solid #7778b0;
}

.ellipse {
  position: absolute;
  bottom: -70px;
  /* 70 მივიღეთ 140/2 */
}

.navmenu {
  display: flex;
  justify-content: space-between;
  width: 1086px;
}

/* ბანერის დასასრული */

.menubtn {
  cursor: pointer;
  width: 168px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #f2f4ff;
}

.bigtxt {
  color: #242565;
  font-family: Proxima Nova;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* ბანერის და ივენთსის დასასრული */

.grid_top {
  width: 343.047px;
  height: 197.11px;
  flex-shrink: 0;

  border-radius: 18.953px 18.953px 0px 0px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.grid_bottom {
  width: 343.047px;
  height: 137.408px;
  flex-shrink: 0;
  border-radius: 0px 0px 18.953px 18.953px;
  background: #fff;
}

.grd {
  display: grid;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: repeat(3, 0fr);
  grid-template-rows: repeat(3, 0fr);
}
.grid_icon > p {
  width: 25.586px;
  height: 15.162px;
  flex-shrink: 0;
  color: #3d37f1;
  text-align: center;
  font-family: DM Sans;
  font-size: 11.372px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.grid_icon > h2 {
  width: 28.429px;
  height: 36.958px;
  flex-shrink: 0;
  color: #000;
  font-family: DM Sans;
  font-size: 28.429px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.grid_text {
  width: 241.649px;
  height: 39.801px;
  flex-shrink: 0;

  color: #6a6a6a;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.grid_title {
  width: 241.649px;
  height: 45.487px;
  flex-shrink: 0;
  color: #000;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}

.grid_bottom {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  padding-top: 20px;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(2, 0fr);
  grid-template-rows: repeat(2, 0fr);
}

.loadmore {
  cursor: pointer;
  border-radius: 50px;
  border: 1.5px solid #3d37f1;
  box-shadow: 0px 10px 50px 0px rgba(61, 55, 241, 0.25);
  width: 182px;
  height: 60px;
  flex-shrink: 0;
}
.loadmore > p {
  color: #3d37f1;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
