* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --fontm: Proxima Nova;
    }


body {
 
  display: flex;
  justify-content: center;
  background-color:bisque;
  /* color: #ffff; */

  font-family: Proxima Nova;
}

.headline > img {
  opacity: 0.2;

  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat, #C4C4C4; */
}
.headline {
    position: relative;
  width: 1440px;
  height: 720px;

  background: linear-gradient(119deg, #ed4690 -2.11%, #52c 63.58%);
}


.evtxt {
    color: #FFF;
font-family: Proxima Nova;
font-size: 28.5px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.ick {
    color: #FFF;
font-family: Proxima Nova;
font-size: 28.5px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.navb {
    color: #FFF;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.navb >p {
    cursor: pointer;

}
.login {
    color: #FFF;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex;
width: 101px;
padding: 10px 20px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 50px;
border: 1.5px solid #FFF;




}

/* nav {
     position: absolute;
    top:1%;

} */

.people {
    
    width: 636.836px;
height: 476px;
flex-shrink: 0;
}

.righttxt, .righttxt2 {
    width: 443px;
}
.righttxt >h3  {
    color: #FFF;
font-family: Proxima Nova;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.righttxt2 {
    color: #FFF;
    font-family: Proxima Nova;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
}
.banerbtn >p {
    width: 182px;
    cursor: pointer;
height: 60px;
flex-shrink: 0;
border-radius: 50px;
 border: 1.5px solid #FFF; 
color:#FFF;
box-shadow: 0px 10px 50px 0px rgba(61, 55, 241, 0.25);

}
.violet {
    border: none !important;
background-color: #F5167E;
}

.baner_and_content {
    position: relative;
}
.overbaner {
    position: absolute;
    top:5%
}